html {
    height: 100%;
}
body {
    height: 100%;
    font: normal 1em Arial;
    color: #5c7b98;
}
.main-content {
    margin-top: 38px;
}
.container {
    width: 1000px;
/*    background-color: #e7e7e7;*/
    margin: 0 auto;
}
.left-column {
    float: left;
/*    background-color: tomato;*/
    width: 230px;
}
.right-column {
    float: right;
/*    background-color: tomato;*/
    width: 740px;
}
/*CLEARFIX*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}
/* прибьём футер к низу*/
.wrapper{
    position: relative;
    min-height: 100%;
    min-width: 970px;*/
    /* обязательно указать минимальную ширину примерно на 10 пикселей шире контейнера*/
    height: auto!important;
    overflow: hidden;
}
.wrapper:after {
    content: "";
    height: 80px;
    display: block;
}
.footer{
    height: 238px;
    margin-top: -238px;
    background: url(../img/footer_pattern.jpg)
}


/*HEADER-LOGO=======================*/
.header-logo {
    margin-bottom: 25px;
}
.header-logo__text {
    position: absolute;
    left: -9999px;
}

/*CALLBACK-FORM=======================*/
.callback-form-wrap {
    background-color: #f4f6f9;
    width: 230px;
    padding-bottom: 15px;
}
.callback-form-wrap__head {
    display: block;
    padding: 14px 10px;
    margin-bottom: 11px;
    text-align: left;
    font-size: 25px;
    line-height: 20px;
    color: #5c7b98;
}
.callback-form-wrap__body {
    width: 209px;
    margin: 0 auto;
}
.callback-form-group
 {
    margin-bottom: 15px;
}
.callback-form-group__label {
    font-size: 14px;
    float: left;
    padding-top: 7px;
}
.callback-form-group__input,
.callback-form-group__textarea {
    padding: 8px;
    border: 1px solid #dae1eb;
    font-size: 12px;
    color: #5c7b98;
    width: 191px;
}
.callback-form-group__textarea {
    resize: none;
}

.callback-form-group__input_short-input {
    width: 117px;
    float: right;
}
.callback-form-btn-group {
    background-color: tomato;
    min-height: 10px;
}
.callback-form-btn-group__btn {
    font-size: 15px;
    color: #fff;
    border: none;
    padding: 15px 6px;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
}
.callback-form-btn-group__btn_blue {
    background-color: #00b9fe;
    float: left;
}
.callback-form-btn-group__btn_blue:hover {
    background-color: #009fda;
}
.callback-form-btn-group__btn_blue:active {
    background-color: #0a8fc1;
}
.callback-form-btn-group__btn_grey {
    background-color: #dae1eb;
    float: right;
}
.callback-form-btn-group__btn_grey:hover {
    background-color: #c6cfdc;
}
.callback-form-btn-group__btn_grey:active {
    background-color: #9aa2ac;
}








